{% extends "layout.html" %}

{% block title %}
    Register Count
{% endblock %}

{% block main %}
    <form action="/count" method="post">
        <select id="register" name="register" class="p-2" required>
            <!-- https://stackoverflow.com/questions/3518002/how-can-i-set-the-default-value-for-an-html-select-element -->
            <option selected disabled hidden value=''>Select</option>
            <option value="reg-1">Register 1</option>
            <option value="reg-2">Register 2</option>
        </select>
        <!-- https://www.tutorialspoint.com/how-to-set-float-input-type-in-html5#:~:text=%3E-,Using%20HTML%20step%20Attribute,attribute%2C%20and%20it%20is%200.01. -->
        <input autocomplete="off" autofocus name="reg-sales" id="reg-sales" placeholder="Register's Sales" type="number" step="0.01"required class="p-1" >
        <table class="table table-striped" id="count-table">
            <thead>
                <tr>
                    <th class="text-end">Denomination</th>
                    <th class="text-start">Quantity</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- input validation help from https://stackoverflow.com/questions/8808590/number-input-type-that-takes-only-integers -->
                <tr>
                    <td class="text-end">100</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="hundred" placeholder="100s" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="hundred-input" required></td>
                    <td class="text-end" id="hundred-total"></td>
                </tr>
                <tr>
                    <td class="text-end">50</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="fifty" placeholder="50s" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="fifty-input" required></td>
                    <td class="text-end" id="fifty-total"></td>
                </tr>
                <tr>
                    <td class="text-end">20</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="twenty" placeholder="20s" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="twenty-input" required></td>
                    <td class="text-end" id="twenty-total"></td>
                </tr>
                <tr>
                    <td class="text-end">10</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="ten" placeholder="10s" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="ten-input" required></td>
                    <td class="text-end" id="ten-total"></td>
                </tr>
                <tr>
                    <td class="text-end">5</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="five" placeholder="5s" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="five-input" required></td>
                    <td class="text-end" id="five-total"></td>
                </tr>
                <tr>
                    <td class="text-end">1</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="one" placeholder="1s" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="one-input" required></td>
                    <td class="text-end" id="one-total"></td>
                </tr>
                <tr>
                    <td class="text-end">Quarters</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="quarter" placeholder="Quarters" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="quarter-input" required></td>
                    <td class="text-end" id="quarter-total"></td>
                </tr>
                <tr>
                    <td class="text-end">Dimes</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="dime" placeholder="Dimes" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="dime-input" required></td>
                    <td class="text-end" id="dime-total"></td>
                </tr>
                <tr>
                    <td class="text-end">Nickels</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="nickel" placeholder="Nickels" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="nickel-input" required></td>
                    <td class="text-end" id="nickel-total"></td>
                </tr>
                <tr>
                    <td class="text-end">Pennies</td>
                    <td class="text-start"><input autocomplete="off" autofocus name="penny" placeholder="Pennies" type="number" step="1" min="0" oninput="this.value = Math.round(this.value)" id="penny-input" required></td>
                    <td class="text-end" id="penny-total"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-end" colspan="2">Total</th>
                    <td class="text-end"><input name="total" readonly id="total"></td>
                </tr>
                <tr>
                    <th class="text-end" colspan="2">Expected</th>
                    <td class="text-end"><input name="expected" readonly id="expected"></td>
                </tr>
                <tr>
                    <th class="text-end" colspan="2">Variance</th>
                    <td class="text-end"><input name="variance" readonly id="variance"></td></td>
                </tr>
            </tfoot>
        </table>
        <button class="btn btn-primary" type="submit">Submit Count</button>
    </form>
    <script src="/static/app.js"></script>
{% endblock %}
